body,
html {
  color: ghostwhite;
  background-color: #1a1a1c;
  font-size: 16px;
  font-family: "Gabarito", sans-serif;
}

input,
textarea,
select {
  background-color: #2a2a2c;
  border: 1px solid #3a3a3c;
  color: ghostwhite;
}

a:visited {
  color: #7a7a7c;
}

a {
  clear: both;
  float: right;
  color: #7a7a7c;
  font-size: 15px;
}

a:active {
  color: #9a9a9c;
}

input,
label,
option,
select {
  font-size: 1.1em;
}

#options label {
  clear: both;
  line-height: 3ch;
}

#options input,
select {
  clear: both;
  float: right;
}

pre {
  margin: 0;
}

h1 {
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 10px;
}
